*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 600px;
  
 }

 button{
  display: block;
  width: 7rem;
  height: 2rem;
  background-color: aquamarine;
  margin: auto;
}