
   
   .card{
     width: 500px;
     height: 400px;
     background: radial-gradient( rgb(255, 255, 255), aqua);
     box-shadow: 5px 5px 3px rgb(26, 171, 181), 10px 10px 3px rgb(109, 196, 202),15px 15px 3px rgb(179, 208, 211);
     margin: auto;
     border-radius: 10px;
     margin : 100px auto 30px auto;
     display: flex;
     flex-direction: column;
   
   }

   .icon{
       width: 30px;
       margin-left: 20px;
   }
   .commonLine{
      display: flex;
      justify-content: space-between;
      height: 40px;
      margin: 20px 20px;
   }
   .line1{
       height: 60px;
       margin-bottom: 50px;
   }
   .line5{
       display: block;
       text-align: center;
   }
   .inText{
       /* text-align: center; */
       width: 300px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   /* .commonLine{
       height: 60px;
       display: flex;
       justify-content: space-around;
       align-items: center;
   } */
   /* .pictures{
       width: 10px;
       height: 240px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;

    } */
    .texts{
       width: 300px;
       height: 240px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
    }

   
   .picture{
       /* margin-top: 5px; */
       border-radius: 50px;
       width: 100px;
       height: 100px;
   }